@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.title {
    margin-top:120px; /* Adjust to ensure it appears below the header */
    padding: 20px 100px;
    align-items: center;
    font-size: 50px;
    
}

.content {   
    margin-top:100px; /* To push the content down so it doesn’t get covered by the header*/
    padding: 20px 100px;
    display: flex;
    align-items: center;
}

.info h1{
    font-size: 40px;
}
.info p{
    margin: 10px 0 20px;
}

.button {
    display: inline-block;
    padding: 12px 50px;
    background: rgb(135, 165, 188);
    border-radius: 40px;
    box-shadow: 0 0px 10px rgb(150, 145, 145);
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo img {
    height: 50px; 
    width: auto;
}

.navbar  a{
    font-size: 18px;
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/*login css*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    margin: 0 auto;
}