@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 255, 255);
    margin-top: auto;
    padding: 20px 100px;
}

ul{
    list-style: none;
}

.footer-col{
    width: 30%;
    margin-top: 10px;
}
.footer-col h4{
    position:relative;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: rgb(152, 175, 193);
	display: block;
}

.footer-col ul li p{
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: rgb(152, 175, 193);
	display: block;
}
ul li a:hover{
    color:rgb(78, 163, 227);
    padding-left: 2px;
}

.title {
    margin-top:140px; /* Adjust to ensure it appears below the header */
    padding: 20px 100px;
    align-items: center;
    font-size: 22px;
    
}

.content {   
    padding: 50px 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.info p{
    margin: 10px 0 20px;
    font-size: 17px;
    max-width: 480px;
    text-align: justify;
    padding-left: 0;     /* align with the title */
}

.button {
    display: inline-block;
    padding: 12px 50px;
    background: rgb(152, 175, 193);
    border-radius: 40px;
    box-shadow: 0 0px 10px rgb(150, 145, 145);
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.home-image{ /*NOTE: This CSS code for home image */
    width: 100px; /* Set the image size */
    height: auto;  /* Maintain aspect ratio */
}

.logo img {
    height: 50px; 
    width: auto;
}

.navbar  a{
    font-size: 18px;
    color:rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.section {
    margin-top:110px; 
    padding: 20px 100px;
    align-items: center;
    font-size: 25px;
    padding-left: 20px;
    
}

/*login css*/
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    margin: 0 auto;
}