<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Forgot Password - Tukar-Je</title>
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">
                <img src="{{ url_for('static', filename='images/Multimedia_University_logo.png') }}" alt="MMU Logo">
                <img src="{{ url_for('static', filename='images/tukar_logo.png') }}" alt="Tukar Logo">
            </a>
            <nav class="navbar">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </header>

        <div class="form-container">
            <div class="form-box">
                <h2>Forgot Password</h2>
                <p class="info-text">Enter your email address and we'll send you instructions to reset your password.</p>
                <form action="{{ url_for('forgot_password') }}" method="POST">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <button type="submit" class="submit-btn">Send Reset Link</button>
                </form>

                <div class="bottom-text">
                    <a href="{{ url_for('login') }}">Back to Login</a>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer-col">
                <ul>
                    <div class="logo">
                        <img src="{{ url_for('static', filename='images/tukar_logo.png') }}" alt="Tukar Logo">
                    </div>
                    <li><p>&copy; 2025 Tukar-Je. ALL RIGHTS RESERVED</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="https://www.mmu.edu.my/accommodation/">Accomodation</a></li>
                    <li><a href="https://online.mmu.edu.my/">Portal</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">support@mmu.com</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html> 