<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

<div class="pending-requests">
    <a href="{{ url_for('main.admin_dashboard') }}" class="top-back-btn">
        <span class="material-icons">arrow_back</span>
    </a>
  <h2>Pending Swap Requests for Admin Review</h2>

  {% if pending_requests %}
    <ul>
      {% for swap in pending_requests %}
        <li>
          Request #{{ swap.id }}: {{ swap.requested_room }}
          <a href="{{ url_for('main.review_request', request_id=swap.id) }}">Review</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="no-data">No pending requests at the moment.</p>
  {% endif %}
</div>